<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>List of Hospitals Near You</h2>

<table>
  <tr>
    <th>Hospital Name</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr>
    <td>Apex Hospitals Mumbai</td>
    <td>09136665105</td>
    <td>Vaishali Heights, Chandavarkar Rd, near Standard Chartered Bank, Borivali West, Mumbai, Maharashtra 400092</td>
    <td>19.2124578° N</td>
    <td>72.88698149° E</td>
  </tr>
  <tr>
    <td>Dhanvantari Hospital</td>
    <td>09324263434</td>
    <td>Dhaval apartment, Factory Ln, near Railway Station, Bhatt Chawl, Mini Zaveri Bazaar, Mhatre Wadi, Borivali West, Mumbai, Maharashtra 400092</td>
    <td>19.2381° N</td>
    <td>72.8523° E</td>
  </tr>
  <tr>
    <td>Apex Superspeciality Hospitals</td>
    <td>09136665105</td>
    <td>Lokmanya Tilak Rd, beside Punjab & Sind Bank, Babhai Naka, Borivali West, Mumbai, Maharashtra 400092</td>
    <td>19.194532381° N</td>
    <td>72.57234523° E</td>
  </tr>
  <tr>
    <td>SANGHVI HOSPITAL & ICU</td>
    <td>02228610770</td>
    <td>Panchratna, A-wing, V.Moolji Nagar, S.V.Road,, Borivali, West, Mumbai, Mumbai, Maharashtra 400092</td>
    <td>19.3690328° N</td>
    <td>72.4823098523° E</td>
  </tr>
  <tr>
    <td>LThe Family Hospital</td>
    <td>09821150899</td>
    <td>A Mangal Arambh, RM Bhattad Rd, Dalvi Nagar, Borivali West, Mumbai, Maharashtra 400092</td>
    <td>19.08528963° N</td>
    <td>72.1976309852</td>
 
</table>

</body>
</html>
